.weatherContainer {
    background-color: #f1ececd0;
    border-radius: 0 20px;
    margin-top: 20px;
    padding: 5px;
}

.header {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.countryFlag {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 1px 1px var(--color-2);
}
