.generalContainer {
    background-color: #f1ececd0;
    margin-top: 25px;
    border-radius: 15px;
    padding: 15px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
}

.forecastContent {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.forecastCard {
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 5px 14 px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--color-1);
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.2);

    .date {
        margin-top: 5px;
        font-style: italic;
        
    }

    .description {
        text-transform: capitalize;
        font-weight: bold;
    }

    .temps {
        margin-bottom: 8px;
        padding: 2px;
        text-align: center;
        font-size: 0.9rem;
    }
}

.carouselContainer {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.swiper {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    scale: 0.8;
}